*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
RevdoClient/build/generated/assets/
RevdoClient/build/generated/res/
RevdoClient/build/generated/source/aidl/androidTest/
RevdoClient/build/generated/source/apt/
RevdoClient/build/generated/source/r/androidTest/
RevdoClient/build/generated/source/rs/
RevdoClient/build/intermediates/assets/
RevdoClient/build/intermediates/blame/res/androidTest/
RevdoClient/build/intermediates/bundles/
RevdoClient/build/intermediates/dependency-cache/
RevdoClient/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/aidl/
RevdoClient/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/assets/
RevdoClient/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/jni/
RevdoClient/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/libs/
RevdoClient/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/res/
RevdoClient/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/aidl/
RevdoClient/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/assets/
RevdoClient/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/jni/
RevdoClient/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/libs/
RevdoClient/build/intermediates/exploded-aar/com.android.support/design/23.3.0/aidl/
RevdoClient/build/intermediates/exploded-aar/com.android.support/design/23.3.0/assets/
RevdoClient/build/intermediates/exploded-aar/com.android.support/design/23.3.0/jni/
RevdoClient/build/intermediates/exploded-aar/com.android.support/design/23.3.0/libs/
RevdoClient/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/aidl/
RevdoClient/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/assets/
RevdoClient/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/jni/
RevdoClient/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/libs/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/assets/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/jni/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/libs/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/res/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/aidl/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/assets/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/jni/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/libs/
RevdoClient/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/res/
RevdoClient/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
RevdoClient/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
RevdoClient/build/intermediates/incremental/mergeDebugResources/aapt-temp/
RevdoClient/build/intermediates/incremental/packageDebugAndroidTest/
RevdoClient/build/intermediates/incremental/packageRelease/
RevdoClient/build/intermediates/incremental/processDebugAndroidTestResources/
RevdoClient/build/intermediates/incremental/processDebugResources/
RevdoClient/build/intermediates/jniLibs/
RevdoClient/build/intermediates/manifest/tmp/
W
ould remove RevdoClient/build/intermediates/reload-dex/
RevdoClient/build/intermediates/res/merged/androidTest/
RevdoClient/build/intermediates/rs/
RevdoClient/build/intermediates/shaders/
RevdoClient/build/intermediates/symbols/androidTest/
RevdoClient/build/intermediates/transforms/extractJars/
RevdoClient/build/intermediates/transforms/instantRun/debug/folders/4000/
RevdoClient/build/intermediates/transforms/mergeJniLibs/
RevdoClient/build/tmp/
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/androidTest/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/builds/
app/build/intermediates/bundles/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/design/24.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/design/24.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/design/24.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/design/24.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/design/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/design/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/design/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/design/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/res/
app/build/intermediates/explode
d-aar/com.android.support/support-vector-drawable/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/res/
app/build/intermediates/exploded-aar/com.android.support/transition/25.1.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/transition/25.1.1/assets/
app/build/intermediates/exploded-aar/com.android.support/transition/25.1.1/jni/
app/build/intermediates/exploded-aar/com.android.support/transition/25.1.1/libs/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/manifest/tmp/
app/build/intermediates/reload-dex/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/extractJars/
app/build/intermediates/transforms/instantRun/debug/folders/4000/
app/build/intermediates/transforms/mergeJavaRes/
app/build/tmp/compileDebugJavaWithJavac/
